* text=auto eol=crlf

*.cs text diff=csharp
*.xaml text
*.json text
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf

*.png binary
*.ico binary
*.zip binary
*.exe binary
*.dll binary
